<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Top San Diego Spots</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/app/styles/styles.css">
    <!-- endinject -->
</head>

<body ng-controller="MainController">
    <h1>Top Spots in San Diego</h1>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Location</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="topspot in topspots">
                <td>{{topspot.name}}</td>
                <td>{{topspot.description}}</td>
                <td>
                    <button><a target="_blank" href="https://www.google/maps?q={{topspot.location[0]}},{{topspot.location[1]}}">Google Maps</a></button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-inline inputTopSpotDiv">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="description" placeholder="Enter Description">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="location1" placeholder="Enter Lattitude">
            <input class="form-control" type="text" ng-model="location2" placeholder="Enter Longitude">
        </div>
        <div class="form-group" id="submitButton">
            <input type="button" value="Submit" class="btn btn-primary" ng-click="addRow()"></input>
        </div>
    </div>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/app/app.js"></script>
    <!-- endinject -->
</body>

</html>
